NEXT_PUBLIC_SDK_TITLE=Tomo
NEXT_PUBLIC_SDK_NAME=Tomo SDK
NEXT_PUBLIC_SDK_PACKAGE_NAME=@tomo-inc/wallet-connect-kit
NEXT_PUBLIC_SDK_LOGO_PATH=https://tomo.inc/favicon.svg
NEXT_PUBLIC_SDK_FAVICON_PATH=https://tomo.inc/favicon.svg
NEXT_PUBLIC_SDK_NETWORKS=evm,dogecoin,solana,aptos
NEXT_PUBLIC_SDK_APP_URL=https://tomo.inc
NEXT_PUBLIC_SDK_TERMS_URL=https://tomo.inc/terms
NEXT_PUBLIC_SDK_PRIVACY_POLICY_URL=https://tomo.inc/privacy
NEXT_PUBLIC_SDK_FOOTER_TEXT=Tomo All rights reserved.
NEXT_PUBLIC_SDK_PRIMARY_COLOR="#FE3C9C"
NEXT_PUBLIC_SDK_THEME_HUE=330
NEXT_PUBLIC_SDK_THEME_SATURATION=99
NEXT_PUBLIC_SDK_THEME_LIGHTNESS=60
